@media screen and (min-width: 990px){
    .container{
        margin: auto;
        width: 60vw;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #eee;
}
.header{
    padding: 4px 7px;
    display: flex;
    justify-content: space-between;
    background: #393e46;
}
ul{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
li{
    list-style: none;
    padding: 0 7px;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    padding: 3vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 10px 10px #666;
    background: #222831;
}
nav input{
    padding: 7px;
}
.active{
    font-size: 1.3em;
}
.showcase{
    margin: 1vh 1vw;
    padding: 2vh 0;
}
.showcase img{
    width: 100%;
}
.main-text{
    font-size: 2.3em;
    font-weight: 400;
    text-align: center;
}
.grid, .deals{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.grid div, .deals div{
    margin: 2vh 1vw;
}
.grid img{
    width: 100%;
}
.grid h2, .deals h2{
    font-weight: 600;
    color: #32e0c4;
    margin: 10px 0;
}
.deals img{
    width: 100%;
}
.deals h2{
    font-size: 2em;
    font-weight: 500;
}
.reviews{
    padding: 7vh;
    text-align: center;
    color: #32e0c4;
    font-size: 23px;
    font-weight: 400;
}
.reviews h2{
    color: #232323;
}
.face{
    margin: 3% 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
footer{
    padding: 10vh 0;
    display: flex;
    justify-content: space-around;
    background: #393e46;
    color: #eee;
    box-shadow: 0 -10px 10px #666;

}
footer input, button{
    margin-bottom: 10px;
    padding: 6px;
}
footer ul{
    flex-direction: column;
}
footer a{
    color: #32e0c4;
}
.footer-text{
    padding-bottom: 10px;
    font-weight: 200;
    color: #f4f4f4;
    text-align: center;
    background: #393e46;
}